:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
*:focus {
  outline: none;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}
.page {
  background-color: #f1f5f9;
  min-height: 100vh;
}
.main-title {
  text-transform: uppercase;
  margin: 40px auto 40px;
  border: 2px solid black;
  padding: 10px 30px;
  font-size: 30px;
  font-weight: bold;
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: 0.3s;
}
.main-title::before,
.main-title::after {
  content: '';
  width: 12px;
  height: 12px;
  background-color: #2196f3;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.main-title::before {
  left: -30px;
}
.main-title::after {
  right: -30px;
}
.main-title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
  -webkit-animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
  -webkit-animation: right-move 0.5s linear forwards;
}
.main-title:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}
/* Start Sidebar */
.sidebar {
  width: 250px;
  box-shadow: 0 0 10px #ddd;
}
.sidebar > h3 {
  margin-bottom: 50px;
}
.sidebar > h3::before,
.sidebar > h3::after {
  content: "";
  background-color: black;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
}
.sidebar > h3::before {
  width: 80px;
  height: 2px;
  bottom: -20px;
}
.sidebar > h3::after {
  bottom: -29px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 4px solid white;
}
.sidebar ul li a {
  transition: 0.3s;
  margin-bottom: 5px;
}
.sidebar ul li a:hover,
.sidebar ul li a.active {
  background-color: #f6f6f6;
}
.sidebar ul li a span {
  font-size: 14px;
  margin-left: 10px;
}
@media (max-width: 767px) {
  .sidebar {
    width: 58px;
    padding: 10px;
  }
  .sidebar > h3 {
    font-size: 13px;
    margin-bottom: 15px;
  }
  .sidebar > h3::before,
  .sidebar > h3::after {
    display: none;
  }
  .sidebar ul li a span {
    display: none;
  }
  img.icon {
    margin-left: -6px;
  }
}
/* End Sidebar */
/* Start Content */
.content {
  overflow: hidden;
}
.head .search::before {
  font-family: var(--fa-style-family-classic);
  content: "\f002";
  font-weight: 900;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: var(--grey-color);
}
.head .search input {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-left: 5px;
  padding-left: 30px;
  width: 160px;
  transition: width 0.3s;
}
.head .search input:focus {
  width: 200px;
}
.head .search input:focus::placeholder {
  opacity: 0;
}
.head .icons .notification::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--red-color);
  border-radius: 50%;
  right: -5px;
  top: -5px;
}
.head .icons img {
  width: 32px;
  height: 32px;
  margin-left: 15px;
}
.page h1 {
  margin: 20px 20px 40px;
}
.page h1::before,
.page h1::after {
  content: "";
  height: 3px;
  position: absolute;
  bottom: -10px;
  left: 0;
}
.page h1::before {
  background-color: white;
  width: 120px;
}
.page h1::after {
  background-color: black;
  width: 40px;
}
.wrapper {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .wrapper {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
/* End Content */
/* Start Courses Page */
.courses-page {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
@media (max-width: 767px) {
  .courses-page {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
.courses-page .course {
  overflow: hidden;
}
.courses-page .course .cover {
  max-width: 100%;
  border-bottom: 1px solid #ddd;
}
.courses-page .course .instructor {
  position: absolute;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  top: 20px;
  left: 20px;
  border: 2px solid white;
}   
.courses-page .course .description {
  line-height: 1.6;
  position: relative;
  max-height: 4.8em; /* 4 lines * line-height (1.6) */
  overflow: hidden;
  text-overflow: ellipsis;
  transition: max-height 0.5s ease; /* Smooth transition for max-height change */
}
.courses-page .course .description::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1em; /* line-height (1.6) */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white); /* Fading effect */
  transition: opacity 0.5s ease; /* Smooth transition for fading effect */
  opacity: 1;
}

.courses-page .course:hover .description {
  max-height: none; /* Show full text on hover */
}

.courses-page .course:hover .description::after {
  opacity: 0; /* Hide the fading effect when expanded on hover */
}
.courses-page .course .info {
  border-top: 1px solid #eee;
  font-size: 13px;
}
.courses-page .course .info .title {
  position: absolute;
  top: -13px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 13px;
}
/* End Courses Page */
@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}
